.map_container {
	height: 400px;
	width: 700px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	background-color: #9a9d9f;
	animation: change-color 2s linear infinite alternate;
}

@keyframes change-color {
	from {
		background-color: #9a9d9f;
	}
	to {
		background-color: #bec0c2;
	}
}
